@model User

<h1>@Model.Email</h1>


<div style="margin-bottom:10px">
    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("LoadFile", "Profile")'">
        Load file
    </button>

    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("LoadText", "Profile")'">
        Load text
    </button>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Type</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var file in Model.Resources)
        {
            <tr>
                <td>
                    @if (file.Type == Secrets_Sharing.Domain.Enums.ResourceType.File)
                    {
                        @file.Name
                    }
                    else
                    {
                        @file.Name
                    }
                </td>
                <td>
                    @file.Type
                </td>
                <td>
                    @if (file.Type == Secrets_Sharing.Domain.Enums.ResourceType.File)
                    {
                        <a onMouseOver="this.style.color='#00F';
                        this.style.cursor='pointer'" 
                        onMouseOut="this.style.color='#000'" 
                        onclick="copyLink('https://localhost:44348/File/DownloadFile?hash=@file.Hash')">Copy link</a>
                    }
                    else
                    {
                        <a onMouseOver="this.style.color='#00F';
                        this.style.cursor='pointer'" 
                        onMouseOut="this.style.color='#000'" 
                        onclick="copyLink('https://localhost:44348/File/DownloadText?hash=@file.Hash')">Copy link</a>
                    }
                </td>
                <td>
                    <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action("DeleteFile", "Profile", new {hash = file.Hash})'">
                        Delete
                    </button>
                </td>
                
            </tr>
        }
    </tbody>
</table>

<script>
    function copyLink(link){
        navigator.clipboard.writeText(link);
    }
</script>
