@model User

<h1>@Model.Email</h1>

<button>
    <a asp-action="LoadFile" asp-controller="Profile">Load file</a>
</button>

<button>
    <a asp-action="LoadText" asp-controller="Profile">Load text</a>
</button>

<table class="table">
    <thead class="thead-primary">
        <tr>
            <th>File Name</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var file in Model.Resources)
        {
            <tr>
                <td>
                    @if (file.Type == Secrets_Sharing.Domain.Enums.ResourceType.File)
                    {
                        <a asp-controller="File" asp-action="DownloadFile" asp-route-hash="@file.Hash">@file.Name</a>
                    }
                    else
                    {
                        <a asp-controller="File" asp-action="DownloadText" asp-route-hash="@file.Hash">@file.Name</a>
                    }
                </td>
                <td>
                    @file.Type
                </td>
                <td>
                    @if (file.Type == Secrets_Sharing.Domain.Enums.ResourceType.File)
                    {
                        <a onMouseOver="this.style.color='#00F';
                        this.style.cursor='pointer'" 
                        onMouseOut="this.style.color='#000'" 
                        onclick="copyLink('https://localhost:44348/File/DownloadFile?hash=@file.Hash')">Copy link</a>
                    }
                    else
                    {
                        <a onMouseOver="this.style.color='#00F';
                        this.style.cursor='pointer'" 
                        onMouseOut="this.style.color='#000'" 
                        onclick="copyLink('https://localhost:44348/File/DownloadText?hash=@file.Hash')">Copy link</a>
                    }
                </td>
                <td>
                    <form asp-action="DeleteFile" asp-controller="Profile" asp-route-hash="@file.Hash">
                        <input type="submit" value="Delete" class="btn-primary btn-danger">
                    </form>
                </td>
                
            </tr>
        }
    </tbody>
</table>

<script>
    function copyLink(link){
        navigator.clipboard.writeText(link);
    }
</script>
